<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Excel File</title>
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<h2>Upload Excel File</h2>
<form action="#" th:action="@{/upload}" th:object="${excelForm}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" th:field="*{file}" />
    <button type="submit">Upload</button>
</form>
<div th:if="${message}" class="error-message" th:text="${message}"></div>
</body>
</html>
